body {
  margin: 0;
  background: transparent;
  color: #00ffcc;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;
  -webkit-app-region: drag;

}

#clock {
    font-size: 48px;
    -webkit-app-region: no-drag;
    cursor: pointer;              
}

