body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #0f172a;
  color: #e5e7eb;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}

h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
}

button {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
