name: Build & Release v2

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'  # trigger on version tags

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies 
        run: npm install

      - name: Build UltraClock
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          artifacts: "dist/*"
